{
    "extends": "standard",
    "rules": {
        "indent": [2, "tab"],
        "no-tabs": 0,
        "no-new": 0,
        "space-before-function-paren": ["error", {
            "anonymous": "always",
            "named": "always",
            "asyncArrow": "always"
            }],
    },
    "plugins": ["html"]
}
